---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../layouts/Footer.astro";
import { Image } from "astro:assets";
import BeanCard from "../../components/BeanCard.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("beans");
---

<Layout title="Oxtcaw | Coffee Bean Collections">
  <header class="mb-12 flex items-center justify-start">
    <div class="">
      <Image
        src="https://avatars.githubusercontent.com/u/48079010?s=400&u=371f0b788ebedfc5ae91f532330d8710d31ef6f0&v=4"
        alt=""
        width={80}
        height={80}
        class="w-16 h-16 rounded-full flex items-center space-x-2"
        loading="eager"
      />
      <!--
            <image
            src="https://avatars.githubusercontent.com/u/48079010?s=400&u=371f0b788ebedfc5ae91f532330d8710d31ef6f0&v=4"
            alt=""
          /> -->
      <!-- <a class="" href="/"> </a> -->
    </div><div class="ml-4">
      <a class="font-medium text-black dark:text-white" href="/">Oktapian CAW</a
      ><p class="text-gray-600 dark:text-gray-500" style="opacity: 1;">
        <span class="sr-only">Programmer</span><span
          class="inline-block whitespace-pre"
          ><span
            aria-hidden="true"
            class="inline-block whitespace-pre"
            style="opacity: 1;">P</span
          ><span
            aria-hidden="true"
            class="inline-block whitespace-pre"
            style="opacity: 1;">r</span
          ><span
            aria-hidden="true"
            class="inline-block whitespace-pre"
            style="opacity: 1;">o</span
          ><span
            aria-hidden="true"
            class="inline-block whitespace-pre"
            style="opacity: 1;">g</span
          ><span
            aria-hidden="true"
            class="inline-block whitespace-pre"
            style="opacity: 1;">r</span
          ><span
            aria-hidden="true"
            class="inline-block whitespace-pre"
            style="opacity: 1;">a</span
          ><span
            aria-hidden="true"
            class="inline-block whitespace-pre"
            style="opacity: 1;">m</span
          ><span
            aria-hidden="true"
            class="inline-block whitespace-pre"
            style="opacity: 1;">m</span
          ><span
            aria-hidden="true"
            class="inline-block whitespace-pre"
            style="opacity: 1;">e</span
          ><span
            aria-hidden="true"
            class="inline-block whitespace-pre"
            style="opacity: 1;">r</span
          ></span
        >
      </p>
    </div>
  </header>
  <main class="space-y-16 lg:space-y-20">
    <section style="opacity: 1; filter: blur(0px); transform: none;">
      <h3 class="mb-4 text-lg font-medium lg:text-md xl:mb-3">
        Coffee Bean Collections
      </h3><div class="flex-1">
        <p class="text-gray-600 mb-6 dark:text-gray-400">
          Since I love consuming coffee, and learning about coffee, here are
          some of the coffee collections that have been purchased from coffee
          roastery.
        </p>
      </div>
      <div class="flex flex-col space-y-4">
        {
          posts.map((post) => (
            <BeanCard
              href={"/beans/" + post.id}
              title={post.data.title}
              producer={post.data.producer}
              producerImg={post.data.producerImg}
              tasteNotes={post.data.tasteNotes}
            />
          ))
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>
